<div class="container modalContainer" id="priceconfigureddiv">
  <div class="modalContent">
<table>
  <thead>
    <tr colspan="2">

      Event name : <span ng-bind="prize.eventname"></span>
    </tr>
  </thead>
  <tbody>
  <tr>
      <td>Total amount collected</td>
      <td><select ng-model="prize.prizename" ng-options="x.name for x in prize.list">

            </select></td>
  </tr>
  <tr>
    <td>Qty:</td>
    <td><input type="text" ng-model="prize.qty"></td>
  </tr>
  <tr>
    <td>Total amount for current prize:</td>
    <td><input type="text" ng-model="prize.prizeval"></td>
  </tr>
  </tbody>
</table>

    <div>
      <input type="button" value="Close"  style="width: 35%" ng-click="closepriceConfigureView();">
</div>
  </div>
</div>
<div>
  Event name: <select></select>
  Prize : <select></select>
  <!-- Display all prize configured for event -->
  <table>
    <thead>
    <tr>
      <th>-</th>
      <th>Prize name</th>
      <th>Qty</th>
      <th>Total Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr>

    </tr>
    </tbody>

  </table>

</div>